! xterm
XTerm*termName: xterm-256color

XTerm*foreground: #fbf1c7
XTerm*background: #1d2021
XTerm*color0: #1d2021
XTerm*color1: #3c3836
XTerm*color2: #504945
XTerm*color3: #665c54
XTerm*color4: #bdae93
XTerm*color5: #d5c4a1
XTerm*color6: #ebdbb2
XTerm*color7: #fbf1c7
XTerm*color8: #fb4934
XTerm*color9: #fe8019
XTerm*color10: #fabd2f
XTerm*color11: #b8bb26
XTerm*color12: #8ec07c
XTerm*color13: #83a598
XTerm*color14: #d3869b
XTerm*color15: #d65d0e

XTerm*faceName: monospace
XTerm*faceSize: 14
XTerm*renderFont: true
XTerm*utf8: 1
XTerm*locale: true

XTerm*saveLinks: 5000
XTerm*internalBorder: 8
!XTerm*scrollBar: false
XTerm*metaSendsEscape: true

XTerm*scrollTtyOutput: false
XTerm*scrollKey: true

XTerm*selectToClipboard: true

! urxvt
URxvt*depth: 32
URxvt*termName: rxvt-unicode

URxvt*foreground: #fbf1c7
URxvt*background: #1d2021
URxvt*color0: #1d2021
URxvt*color1: #3c3836
URxvt*color2: #504945
URxvt*color3: #665c54
URxvt*color4: #bdae93
URxvt*color5: #d5c4a1
URxvt*color6: #ebdbb2
URxvt*color7: #fbf1c7
URxvt*color8: #fb4934
URxvt*color9: #fe8019
URxvt*color10: #fabd2f
URxvt*color11: #b8bb26
URxvt*color12: #8ec07c
URxvt*color13: #83a598
URxvt*color14: #d3869b
URxvt*color15: #d65d0e

URxvt*font: xft:monospace:pixelsize=14
URxvt*boldFont: xft:monospace:style=Bold:pixelsize=14
URxvt*italicFont: xft:monospace:style=Italic:pixelsize=14
URxvt*boldItalicFont: xft:monospace:style=Bold Italic:pixelsize=14

URxvt*internalBorder: 10
URxvt*externalBorder: 2
URxvt*saveLines: 5000

URxvt*scrollTtyOutput: false
URxvt*scrollWithBuffer: true
URxvt*scrollTtyKeypress: true

!URxvt*transparent: true
!URxvt*shading: 20

URxvt*selectToClipboard: true
